<br>
<div class="row">
  <div class="container">
    <h2> Order Histroy </h2>
    <br>

    <% @orders.each do |order| %>
      <table id="table-info">

        <tr>
          <td>Age: <%= order.age %></td>
          <td>Name: <%= order.first_name %> <%= order.last_name %></td> 
          <td>Email: <%= order.email %></td> 
          <td>Credit Card: <%= order.credit_card %></td>
          <td>Expiration: <%= order.expiration %></td>
          <td>Quantity: <%= order.order_quantity %></td>
          <td><%= link_to 'Delete', order, method: :delete, data: {confirm: "You sure?"} %></td>
       </tr>
    </table>
    <% end %>
    <div>
    <!--Add movie-->
    <h2>Add Movies</h2>
    <button class="btn btn-default"><%= link_to "Add Movie", add_movie_path(@movie) %></button>
    </div>
    <br>
    <div>
      <button class="btn btn-default"><%= link_to "Add Showtime", add_showtime_path(@showtime) %></button>
    </div>
  </div>
</div>
